@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
body{
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
}
.title{

    font-size: 60px;
    font-weight: 700;
    text-align: center;
    background: linear-gradient(120deg,gray,red);
}
.description{
    color: black;
    list-style: 1.5em;
    background: linear-gradient(to top, yellow, red);
}
#unique{
    color: blue;
}

.box{
    height: 150px;
    width: 120px;
    /* border: 4px dotted red; */
    padding: 30px;
    background-color:  cyan;
    box-shadow: 10px 10px 4px gray;
    /* padding-left: 50px;
    padding-top: 30px; */

    margin: 40px;
    /* margin-top: 20px;
    margin-bottom: 20px; */
}

.test{
    padding: 50;
    background-color: gray;
    border: 3px solid black;
    width: 50%;
    margin: auto;               /* Background soho content middle e nite margin:auto use kora hoy  */
}

.parent{
    padding: 50;
    background-color: skyblue;
    border: 3px solid black;
    width: 50%;
    margin: auto;
}

.child{
    background-color: yellow;
    /* border: 3px solid black; */
    width: 50%;
    padding-top: 50px;
    padding-left: 20px;
    /* height: 100vh; */
}

.first{
    height: 50px;
    width: 200px;
    background-color: yellow;
    float: left;
    /*display: inline;*/      /* div soho aro jegula block line element ase ogulake eivabe inline kora jaay */
}

.second{
    height: 50px;
    width: 200px;
    background-color: red;
    float: left;
    /* display: inline; */
}

.sect{
    height: 200px;
    width: 200px;
    border: 2px solid black;
    margin: 5px;
    font-size: 25px;
    box-shadow: 5px 5px 4px gray;
}

.container{
    display: flex;
    gap: 30px;
    justify-content: center;
    /*justify-content: space-around; 
    justify-content: space-between;
    justify-content: space-evenly; 
    flex-direction: row-reverse; */
    height: 100vh;
    align-items: center;       /* Row borabor majhkhane anar jonno */
    flex-wrap:  wrap;
}

.sect1{
    background-color: blue;
    position: absolute;
    margin-top: 20px;
    /* z-index: -1;        jkhn ekta arektar niche chole jaay sheta dekhar jonno z-index: -1 use kora hoise */
}
.sect2{
    background-color: red;
    position: relative;
    /* position: fixed; */
    margin-top: 50px;
}
.sect3{
    background-color: green;
}

.green{
    width: 450px;
    height: 200px;
    background-color: green;
    margin: 120px;
    position: absolute;
}

.red{
    width: 120px;
    height: 120px;
    background-color: red;
    border-radius: 60%;
    position: relative;
    top: 28%;
    left: 30%;
}

.check{
    /* width:80%; */
    /* margin: 0 auto; */
    background-color: red;
}

.dekhi{
    width: 80%;
    margin: 0 ;
}

