{% extends 'base.html' %}

{% block content %}
    <table class="table">
        <thead>
            <tr class="text-center">
                <th class="bg-warning text-dark"> Album ID </th>
                <th class="bg-warning text-dark"> Musician Name </th>
                <th class="bg-warning text-dark"> Email </th>
                <th class="bg-warning text-dark"> Album Rating </th>
                <th class="bg-warning text-dark"> Instrument Type </th>
                <th class="bg-warning text-dark"> Album Name </th>
                <th class="bg-warning text-dark"> Release Date </th>
                <th class="bg-warning text-dark"> Actions </th>
            </tr>
        </thead>

        {% for info in data %}
        <tbody class="text-center">
                <td class="bg-dark text-warning fw-bold"> {{info.id}} </td>
                <td class="bg-dark fw-bold"> <a href="{% url 'edit_musician' info.album_musician.id %}" style="text-decoration:none" class="text-danger fw-bold fs-6"> {{info.album_musician.first_name}} {{info.album_musician.last_name}} </a> </td>
                <td class="bg-dark text-warning fw-bold"> {{info.album_musician.email}} </td>
                <td class="bg-dark text-warning fw-bold"> {{info.rating}} </td>
                <td class="bg-dark text-warning fw-bold"> {{info.album_musician.instrument_type}} </td>
                <td class="bg-dark text-warning fw-bold"> {{info.album_name}} </td>
                <td class="bg-dark text-warning fw-bold"> {{info.release_date}} </td>
                <td class="bg-dark text-warning fw-bold"> 
                    {% if request.user.is_authenticated %} 
                    <a href="{% url 'edit_album' info.id %}"> <button class="btn btn-primary"> Edit </button> </a> 
                    <a href="{% url 'delete_album' info.id %}"> <button class="btn btn-danger"> Delete </button> </a>
                    {% endif  %} 
                </td>
        </tbody>
        {% endfor %}


    </table>
{% endblock content %}