{% extends 'base.html' %}

{% block content %}

{% if messages %}
    {% for m in messages %}
        <h3 {% if m.tags%} class="{{m.tags}}" {% endif %}> {{m}} </h3>
    {% endfor  %}
{% endif  %}

<a href="{% url 'change_pass_1' %}" class="btn btn-primary"> Change Password with old password </a>
<a href="{% url 'change_pass_2' %}" class="btn btn-danger"> Change Password without old password </a>

<div class="d-flex justify-content-center align-items-center" style="height: 100vh;">
    <h1 class="bg-danger p-5 border border-5 border-dark fw-bold">This is Profile Page</h1>
</div>




{% endblock content %}