.amount-container{
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
}

.amount-box{
    width: 200px;
    height: 100px;
    padding: 20px;
    /* border: 1px solid gray; */
    display: flex;
    justify-content: center;
    align-items: center;
    /* font-size: 40px; */
    font-weight: bold;
    border-radius: 5px;
    box-shadow: 4px 4px 10px gray;
}

.deposit{
    background-color: rgb(26, 26, 202);
    color: white;
}

.withdraw{
    background-color: rgb(226, 25, 25);
    color: white;
}

.total{
    background-color: rgb(60, 60, 139);
    color: white;
}

/*----------------------------------------------- */

.deposit-withdraw-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    text-align: center;
    gap: 50px;
}

.btn{
    padding: 15px 30px;
    margin-top: 10px;
}

.input-box{
    padding: 30px;
    border: 1px solid gray;
}

input{
    padding: 10px 20px;
}

.deposit-btn{
    background-color: #1A1ACA;
    color: white;
    font-weight: bold;
    border: none;
}

.withdraw-btn{
    background-color: #E21919;
    color: white;
    font-weight: bold;
    border: none;
}

.amount{
    font-size: 40px;
}